{% extends "base.html" %}

{% block title %}EduSphere | About{% endblock %}

{% block content %}
<section class="about-section">
    <div class="profile-card">
        <h1>About the Author</h1>
        
        <div class="profile-content">
            <p>Hi Everyone, My name is <strong>Aashi</strong> and welcome to my platform!</p>
            
            <p>
                I am an open-source enthusiast and a great believer in sharing knowledge. 
                I have my footprints in popular open-source projects like Argo CD, Argo CD Operator, 
                Argo Rollouts Manager, GitOps Operator, F5 Ingress Controller, Nginx Ingress Controller 
                and others.
            </p>
            
            <p>Apart from working as a GitOps product lead, I also hold below positions in OpenSource communities:</p>
            <ul>
                <li>Maintainer of Argo CD Operator</li>
                <li>Creator of Argo Rollouts Manager</li>
                <li>Maintainer of RedHat Developer (GitOps operator)</li>
                <li>Member of Argo Project</li>
                <li>Member of Argo SIG Security</li>
            </ul>
            
            <p>
                If you want to learn complete DevOps for free with practical projects, check out my 
                <a href="https://www.youtube.com/playlist?list=PLdpzxOOAlwvIKMhk8WhzN1pYoJ1YU8Csa" style="color: var(--primary); text-decoration: none; font-weight: bold;">Playlists</a>.
            </p>
            
            <p style="margin-top: 20px; text-align: center;">
                <em>Please subscribe to the channel to keep learning and growing together. Thanks :)</em>
            </p>
        </div>
    </div>
</section>
{% endblock %}
